## Intro to Jupyter

WE CAN WRITE CODE IN PYTHON AND ALSO USE MARKDOWN

In [26]:
# Print Function
print(12,end=",")
print(10)
print(5)
b=10

12,10
5

In [24]:
# Last Line is Output
a=10
a+5
a+2
a+10
a+30

40

In [20]:
# Variables and type of numbers
a=10
print(type(a))
a=10.3
print(type(a))
a=2+3j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [34]:
# Operators
a=12
# Since we have not declared b in this cell, so we first run the other cell in which we have declared b and then we run this cell
c=a+b
print(a)
print(c)
print(a/c)
print(a//c)
print(a**2)
# Pair-wise initialization
x,y=5,6
print(x)
print(y)

12
22
0.5454545454545454
0
144
5
6

In [41]:
# Strings
a="this is python3"
print(a)

this is python3

In [75]:
# Typical String Properties
print(len(a))
print(type(a))
print(a[0])
# a[1]='8' INVALID! Strings are immutable in Python
print(type(a[0])) # In Python,there is no character , everything is a string 
x='abc'
y="123"
z=x+y # String Concatenation
print(z)

3
<class 'str'>
a
<class 'str'>
abc123

In [79]:
# Some more String functions
a='Abc'
print(a.lower())
print(a.upper())
print(a)
b='    Abc '
print(b)
print(b.strip())

abc
ABC
Abc
    Abc
Abc

In [64]:
# User Input
a=input()
print(type(a))
# By default , input() returns a string
a=int(input())
# Now , we have basically typecasted it into an integer
print(type(a))

1
<class 'str'>
1
<class 'int'>

In [73]:
# Negative indexing
a='abc'
# Getting the char by indexing (0,1...n-1)
print(a[0])
# Reverse indexing (-n,.....-2,-1)
print(a[-3])

a
a

In [85]:
# String slicing (extracting the substring)
s='abcdef'
# Starting is included , ending is not included just like it is in Java
print(s[1:3])
print(s[-3:-1])
# If you want from starting till end , then just leave the 2nd part of range blank
print(s[2:])
print(s[:])

bc
de
cdef
abcdef

In [94]:
"hello"[-1:]

'o'

In [103]:
# Tuples
# Use rounded brackets for making tuples
t = (1,2,3)  
print(type(t))
# t[0]=1 INVALID! Like strings ,tuples are also immumtable
print(t[0:2])
# Slicing in tuples takes place from index 1 to index 2 (as last index is exclusive). 
# Tuples can also items of different types
t2=(1,'abc',5.5)
print(t2[1:])
# Values cannot be modified in the case of tuple, that is, tuple is immutable.

<class 'tuple'>
(1, 2)
('abc', 5.5)

In [110]:
# Operations on tuple
t=(1,2)
k=('abc',1)
t+k
print(t+k)
print(t * 2)
print(2 in t)
print(2 in k)

(1, 2, 'abc', 1)
(1, 2, 1, 2)
True
False