In [3]:
from sklearn import datasets

In [6]:
boston=datasets.load_boston()

In [10]:
X=boston.data
Y=boston.target
X.shape

(506, 13)

In [22]:
import pandas as pd

In [27]:
df=pd.DataFrame(X)
df.columns=boston.feature_names
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

### Making the hypothesis a multivariate function instead of it being dependent linearly

In [51]:
df["AGE_AGE"]=df.AGE**2
df["CRIM_CRIM"]=df.CRIM**2
df["ZN_ZN"]=df.ZN**2
df["INDUS_INDUS"]=df.INDUS**2
df["CHAS_CHAS"]=df.CHAS**2
df["NOX_NOX"]=df.NOX**2 
df["RM_RM"]=df.RM**2
df["DIS_DIS"]=df.DIS**2
df["RAD_RAD"]=df.RAD**2
df["TAX_TAX"]=df.TAX**2
df["B_B"]=df.B**2
df["PTRATIO_PTRATIO"]=df.PTRATIO**2 
df["LSTAT_LSTAT"]=df.LSTAT**2 
X2=df.values

In [58]:
# Other 10C2 combinations as well

In [52]:
from sklearn import model_selection
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y,random_state=0) # For original cols
X_train2,X_test2,Y_train2,Y_test2 = model_selection.train_test_split(X2,Y,random_state=0) # For additional cols

In [53]:
from sklearn.linear_model import LinearRegression
alg1=LinearRegression()
alg2=LinearRegression()
alg1.fit(X_train,Y_train)
alg2.fit(X_train2,Y_train2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [54]:
alg2.coef_

array([-3.77976916e-01, -9.18907417e-02, -4.16942404e-01,  1.12610505e+00,
       -3.83616349e+01, -1.82356719e+01,  8.64965973e-03, -2.06923802e+00,
        4.76295973e-01, -1.58794194e-02, -6.35195335e+00,  1.04672483e-02,
       -1.41371416e+00, -9.81955697e-05,  2.82438369e-03,  1.02723399e-03,
        1.67494960e-02,  1.12610502e+00,  1.31292382e+01,  1.65435894e+00,
        8.52674614e-02, -2.11103153e-03,  1.99744698e-06, -7.66570026e-06,
        1.56467086e-01,  2.64892388e-02])

In [55]:
alg2.intercept_

171.870557017267

In [56]:
Y_pred=alg1.predict(X_test)
Y_pred2=alg2.predict(X_test2)

In [57]:
X_training_score=alg1.score(X_train,Y_train)
Y_training_score=alg1.score(X_test,Y_test)
print(X_training_score,Y_training_score)
X_training_score2=alg2.score(X_train2,Y_train2)
Y_training_score2=alg2.score(X_test2,Y_test2)
print(X_training_score2,Y_training_score2)

0.769744837056394 0.6353620786674614
0.8596064343892953 0.7199219885914263